
---
title: false
styles: true
---


// Background colours
$backgroundColour: #ffeeee !default;
$codeBackgroundColour: #c0c0c0 !default;
$featureBackgroundColour: #ff0000 !default;
$accentColour: #333333 !default;

// Text colours
$headingColour: #333333 !default;
$bodyColour: #333333 !default;
$linkColour: #333333 !default;
$hoverColour: #333333 !default;
$focusColour: #555555 !default;
$captionColour: #333333 !default;
$white: #ffffff !default;

// Typography
$bodytype: (
  font-family: '"Noto Sans", sans-serif',
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
) !default;

$headingtype: (
  font-family: '"Noto Sans", sans-serif',
  regular: 400,
  bold: 700,
  cap-height: 0.75
) !default;

$monospacetype: (
  font-family: "Menlo, monospace",
  regular: 400,
  cap-height: 0.68
) !default;

// TIP: Load custom fonts in _config.yaml
@import "alembic";

// TODO
// find highlight colour